@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  overflow: hidden;
}
canvas {
  width: 100vw;
  height: 100vh;
  display:block;
  /* position: abs; */
  margin: auto;
  
  z-index: 20;
}